# Config files
config.json

# Build folders/files
.next/
__pycache__
dist/
*.o
*.exe
*.so
*.obj
*.out
*.dll
*.node
build/

# Package folders
node_modules/

# Lock files
yarn.lock
package-lock.json
poetry.lock
