@forward 'mixins';

/* Branding colors */
$main-color: #7289da;
$secondary-color: #99aab5;
$darkone: #2c2f33;
$darktwo: #23272a;

/* Generated colors */
$dark050: lighten(
  $color: $darkone,
  $amount: 5%
);
$dark100: lighten(
  $color: $darkone,
  $amount: 10%
);

/* InApp colors */
$chat-background: #36393f;
$servers-side-bar: #202225;
$channels-side-bar: #2f3136;
$scroll-bar: #202225;

$icons-color: #b9bbbe;
